*{
    margin: 0%;
    padding: 0%;
}

/*CABEÇALHO*/
header{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

header h1{
    padding-left: 2%;
    padding-right: 2%;
    font-family: open sans;
    line-height: 90%;
    font-size:56px;
}

.header-subtitle{
    padding: 2%;
    padding-right: 20%;
    padding-top: 5%;
    font-family: open sans;
    font-weight: 100;
    font-size: 18px;
}

.footer-header{
    font-family: open sans;
    font-size: 16px;
    padding: 2%;
    padding-bottom: 0%;
    font-weight: 20px;
}

.header-updated{
    font-family: open sans;
    font-size: 12px;
    font-weight: 16.34px;
    padding: 2%;
    padding-top:1%;
}

/*CORPO*/

main{
    font-family: open sans;
    margin: 2% 25% 0% 25%;
}


main article{
    padding-top: 2%;
    padding-bottom: 0%;
}

main b{
    color: #A6130A;
}

main p{
    padding-bottom: 2%;
    font-size: 18px;
}

main ul{
    padding: 2%;
    padding-bottom: 4%;
    padding-left: 5%;
    font-size: 20px;
    color: #A6130A;
}

.island{
    border-left: 3px solid #A6130A;
    padding-left: 1%;
}

.minus{
    font-weight: 16px;
}

h2{
    margin: 2% 0% 2% 0%;
}